* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

a {
  text-decoration: none;
  color: #009EE0;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 30px;
}

h1 em {
  font-size: 13px;
}

#content {
  width: 980px;
  margin: 0 auto;
}

section#articles {
  width: 600px;
}

section#articles article:last-child {
  border-bottom: none;
}

article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #DDD;
}

article h2 {
  font-size: 16px;
  display: inline;
}

article em {
  font-style: normal;
  color: #999;
}

#disclaimer {
  text-align: center;
  padding: 10px 0;
  font-size: 11px;
  border-bottom: solid 1px #CCC;
  margin-bottom: 23px;
  background-color: whitesmoke;
}