<!DOCTYPE html>
<html>
<head>
  <title>SUPmeme.com</title>
  <meta charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}" />
</head>
<body>
<div id="disclaimer">This is work in progress! If you want to collaborate, visit the <a href="http://github.com/raliste/supmeme">github repository</a>.</div>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
