<!DOCTYPE html>
<html>
<head>
  <title>supmeme.com</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/main.css") }}" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36865341-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="class='class=``'">
  <div id="disclaimer">
    <h1>supmeme <em>- local entrepreneurial news aggregator</em></h2>
    <p>This is work in progress! If you want to collaborate, visit the <a href="http://github.com/raliste/supmeme">github repository</a>.</p>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>