{% extends "base.html" %}

{% block content %}

<h1>Noticias Principales <em>Top News</em></h1>

{% for score, entry in entries %}
<section id="articles">
  <article id="article{{ entry._id }}" data-score="{{ score }}">
    <aside class="source">{{ entry.source }}</aside>
    <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>
    {{ entry.description|safe }}
    {% if request.args.deb %}
    <p><small>{{ entry.published_at }} - {{ score }}</small></p>
    {% endif %}
  </article>
</section>
{% endfor %}

{% endblock %}
